h1,
h2 {
  font-family: Lato;
}

button:hover {
  background-color: darkslategray;
  cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}
