<table id="myTable" class="table table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col" style="text-align:center">Age</th>
            <th scope="col" style="text-align:center">Gender</th>
            <th scope="col" style="text-align:center">Is Adult</th>
            <th scope="col">Edit Content</th>
            <th scope="col">Remove</th>

        </tr>
    </thead>
    <tbody id='complex_body'>
        <tr ng-repeat="user in $ctrl.user" ng-class="user.age >= 18 ? 'table-success' : 'table-danger'">
            <th scope="row">{{$index + 1}}</th>
            <form name="users-container" method="put">
                <td>
                    <span ng-show="edit != true">{{user.name}}</span>
                    <span ng-show="edit">
                        <input type="text" style="width: 60%;" class="form-control" required ng-model="user.name">
                    </span>
                </td>
                <td align="center">
                    <span ng-show="edit != true">{{user.age}}</span>
                    <span ng-show="edit">
                        <input type="number" style="width: 60%;" class="form-control" required ng-model="user.age" />
                    </span>
                </td>
                <td align="center">
                    <span ng-show="edit != true">
                        <i class="fas fa-female" ng-show="user.gender==='female'"></i>
                        <i class="fas fa-male" ng-show="user.gender==='male'"></i>
                    </span>
                    <span ng-show="edit">
                        <select style="width: 60%;" id="inp-for-gender" class="custom-select mr-sm-2" required
                            ng-model="user.gender">
                            <option>Choose ...</option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        </select>
                    </span>
                </td>
                <td align="center">
                    <span ng-show="edit != true">
                        <i class="fas fa-user-check" ng-show="user.age >= 18"></i>
                        <i class="fas fa-user-slash" ng-show="user.age <= 18"></i>
                    </span>
                </td>
                <td>
                    <button type="button" class="btn btn-light" ng-show="edit != true && editing != true"
                        ng-click="edit=true ; modifyUser() ">Edit</button>
                    <button type="button" class="btn btn-light ml-4" ng-show="edit"
                        ng-click="edit != true; $ctrl.save({$event:user}, $index)">Save</button>
                    <button type="button" class="btn btn-light ml-4" ng-show="edit"
                        ng-click="$ctrl.cancel()">Cancel</button>
                </td>
                <td>
                    <div>
                        <button type="button" class="btn btn-light ml-4"
                            ng-click="$ctrl.remove({$event:user}, $index)">Remove<i
                                class="fas fa-trash-alt ml-2"></i></button>
                    </div>
                </td>
            </form>
        <tr>
    </tbody>
</table>