<table id="myTable" class="table table-bordered table-responsive{-sm|-md|-lg}" style="width:100%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col" style="text-align:center">Age</th>
            <th scope="col" style="text-align:center">Gender</th>
            <th scope="col" style="text-align:center">Is Adult</th>
            <th scope="col" style="text-align:center">Edit Content</th>
            <th scope="col" style="text-align:center">Remove</th>

        </tr>
    </thead>
    <tbody id='complex_body'>
        <tr ng-repeat="user in $ctrl.user" ng-class="user.age >= 18 ? 'table-success' : 'table-danger'">
            <th scope="row">{{$index + 1}}</th>
            <form name="users-container" method="put">
                <td>
                    <span ng-show="edit != true">{{user.name}}</span>
                    <span ng-show="edit">
                        <input type="text" style="width: 100%;" class="form-control" required ng-model="user.name">
                    </span>
                </td>
                <td align="center">
                    <span ng-show="edit != true">{{user.age}}</span>
                    <span ng-show="edit">
                        <input type="number" style="width: 100%;" class="form-control" required ng-model="user.age" />
                    </span>
                </td>
                <td align="center">
                    <span ng-show="edit != true">
                        <i class="fas fa-female" ng-show="user.gender==='female'"></i>
                        <i class="fas fa-male" ng-show="user.gender==='male'"></i>
                    </span>
                    <span ng-show="edit">
                        <select style="width: 100%;" id="inp-for-gender" class="custom-select mr-sm-2" required
                            ng-model="user.gender">
                            <option disabled>Choose ...</option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        </select>
                    </span>
                </td>
                <td align="center">
                    <span ng-show="edit != true">
                        <i class="fas fa-user-check" ng-show="user.age >= 18"></i>
                        <i class="fas fa-user-slash" ng-show="user.age < 18"></i>
                    </span>
                </td>
                <td align="center">
                    <button type="button" class="modify"  ng-show="edit != true && editing != true"
                        ng-click="edit=true">Edit</button>
                    <button type="button" ng-show="edit" class="save"
                        ng-click="edit=false; $ctrl.save({$event:user})">Save</button>
                    <button type="button" ng-show="edit" ng-click="edit=false" class="cancel">Cancel</button>
                </td>
                <td>
                    <div align="center">
                        <button type="button" class="delete" ng-click="$ctrl.remove({$event:user});"><span class="button-text">Remove</span><i
                                class="fas fa-trash-alt ml-2"></i></button>
                    </div>
                </td>
            </form>
        <tr>
    </tbody>
</table>